[Unit]
Description=Run FindMe service every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=findme.service

[Install]
WantedBy=timers.target

